
<div >
<h2 *ngIf = "!editing"> Nueva mascota </h2>
<h2 *ngIf = "editing"> Editando mascota {{recievedPet.name}} </h2>
<label > <span> Nombre: </span> <input [(ngModel)] = "pet.name"> </label>
<div > <span> Estado: </span> <select>
                                <option>
                                  Disponible
                                </option>
                                <option>
                                  Pendiente
                                </option>
                                <option>
                                  Vendida
                                </option>
                              </select> </div>

</div> <!-- cada bind debe ser igual en todos para que se lea, si no no aparece nada-->
