span {border: 1px solid white; padding: 1em; background-color: #0000002c; color: white; border-radius: 1em;}
li {padding: 1.5em;}
div.table {background-color: #0000007c;}
div {text-align:center;}
h2 {color: white;}
