<div *ngIf = "showingAvailable">
  <ul>
    <li *ngFor = "let pet of pets">
      <span>ID: {{pet.id}}</span>
     <span>Nombre: {{pet.name}}</span>
      <span>Estado: {{pet.status}}</span>
    </li>
</ul>

</div>
<div *ngIf = "showingPending">
  <ul>
    <li *ngFor = "let pet of pets">
      <span>ID: {{pet.id}}</span>
     <span>Nombre: {{pet.name}}</span>
      <span>Estado: {{pet.status}}</span>
    </li>
</ul>

</div>
<div *ngIf = "showingSold">
  <ul>
    <li *ngFor = "let pet of pets">
      <span>ID: {{pet.id}}</span>
     <span>Nombre: {{pet.name}}</span>
      <span>Estado: {{pet.status}}</span>
    </li>
</ul>

</div>

<div>
	<p>¿Que lista quieres ver?</p>
	<button (click) = "setListTypeD()"> Disponibles </button>
	<button (click) = "setListTypeP()"> Pendientes </button>
	<button (click) = "setListTypeV()"> Vendidos </button>

</div>
